/* Header */
header {
  background-color: darkblue;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Weather Data Container */
#weatherData {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  width: 75%; /* Adjust the width of the API results */
}

/* Search Box Container */
.search-box {
  text-align: center;
  margin-bottom: 20px;
  align-self: flex-start;
  margin-left: 20px;
  width: 25%; /* Adjust the width of the search box */
}

.search-box h2 {
  margin-bottom: 10px;
}

.search-input input {
  padding: 5px;
  margin-right: 5px;
}

.search-input button {
  padding: 5px 10px;
}

/* Weather Info Container */
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  flex: 1; /* Let the API results take up remaining space */
}

.weather-info h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.weather-info img {
  margin-bottom: 5px;
}

/* Weather Details Container */
.weather-details {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.weather-details p {
  flex: 1;
  text-align: center;
  margin: 5px;
}

/* Search History List */
#searchedCities {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.forecast {
  margin-top: 20px;
}

.forecast h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.forecast-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.forecast-day {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.forecast-day h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.forecast-day img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.forecast-day p {
  font-size: 14px;
  margin-bottom: 3px;
}
